mixin comment(comments)
  .comment
    .date= comments.date
    .author= comments.author
    .text= comments.text

doctype html
html
  head
    link(rel='stylesheet' href='../style.css')
    style.
      #title {
        color: red;
        text-decoration: underline;
      }
      .comment {
        font-family: serif;
        line-height: 1.5;
        padding: 10px;
        border: 1px solid #555;
        width: 250px;
      }
      .date {
        font-size: 85%;
        text-align: right;
      }
      .author {
        font-size: 110%;
        font-weight: bold;
      }
      .text {
        font-size: 100%;
      }
  body
    include includes/header
    h1#title Hello, Pug!
    p.paragraph.
      Template engine para geração de HTML.
      Esse é um parágrafo com duas linhas.
    ul(style='text-transform: uppercase;')
      li Item 1
      li Item 2
      li Item 3
    .container
    #container
    input(type='password' name='password' data-js=`${5 > 2 ? true : false}`)
    - const classes = ['class1', 'class2', 'class3']
    .other-class(class=classes)
    - const styles = {'color': 'red', 'background-color': 'blue'}
    div(style=styles)
    - const attributes = {'src': 'photo.png', 'alt': 'Minha foto'}
    img&attributes(attributes)
    input(type='text' disabled=false)
    input(type='text' disabled)
    - const numbers = [10, 20, 30]
    each num, i in numbers
      p número
      p= num
      p= num + ': ' + i
      p= 'número ' + num
    for el in []
      p= el
    else
      p Array vazio!
    h2 Meu Site Incrível
    - let user = { name: 'Marlon', loggedIn: false, lastLogin: 6 }
    if user.loggedIn
      strong  #{ user.name }
      p
        | Boas-vindas,
    else if user.lastLogin < 10
      p Seu último login foi há #{ user.lastLogin } minutos.
      a(href='#') Login
    else
      a(href='#') Login
    - const status = 'Pending'
    case status
      when 'Pending'
        p O status está pendente.
      when 'In Transit'
        p O status está em trânsito.
      when 'Completed'
        p O status está completo.
      default
        p O status ainda não foi atualizado.
    - const c = { date: '28/07/2023', author: 'Marlon', text: 'Pug é bom demais!' }
    - const d = { date: '28/07/2023', author: 'Fulano', text: 'Pug é bom demais!' }
    +comment(c)
    +comment(d)
